.GridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200% 200%;
}


canvas {
    width: 80%;
    height: 50%;
    justify-self: center;
    align-self: center;

}